{{ if .Site.Params.contact.enable | default false }}
{{- $contact := .Site.Language.Params.contact | default .Site.Params.contact -}}
<section id="contact" class="academic-section">
    <div class="container">
        <div class="section-heading">
            <h3>{{ $contact.title | default (i18n "contact") }}</h3>
        </div>
        <div class="contact-panel">
            <div>{{ $contact.content | emojify | markdownify }}</div>
            {{ if or (.Site.Params.contact.email)  (.Site.Params.contact.btnLink) }}
            <a href='{{ if .Site.Params.contact.btnLink }}{{ .Site.Params.contact.btnLink | default "#" }}{{ else }}mailto:{{ .Site.Params.contact.email }}{{ end }}' class="btn academic-btn">
                {{ $contact.btnName | default .Site.Params.contact.btnName | default (i18n "contact") }}
            </a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
