{{- /* theme is auto */}}
<script>
    let localStorageValue = localStorage.getItem("pref-theme");
    let mediaQuery = window.matchMedia('(prefers-color-scheme: dark)').matches;

    switch (localStorageValue) {
        case "dark":
            document.documentElement.classList.add('dark');
            document.body.classList.add('dark');
            break;
        case "light":
            document.body.classList.remove('dark');
            document.documentElement.classList.remove('dark');
            break;
        default:
            if (mediaQuery) {
                document.documentElement.classList.add('dark');
                document.body.classList.add('dark');
            }
            break;
    }
</script>

<header id="profileHeader">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand primary-font text-wrap" href="{{ .Site.Home.RelPermalink }}">
                <strong>{{ .Site.Params.navbar.brandName | default .Site.Params.title }}</strong>
                <span>Finance / Business Analytics</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg aria-hidden="true" height="24" viewBox="0 0 16 16" width="24">
                    <path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path>
                </svg>
            </button>

            <div class="collapse navbar-collapse text-wrap primary-font" id="navbarContent">
                <ul class="navbar-nav {{ .Site.Params.navbar.align | default "ms-auto"}}">
                    {{ if and (.Site.Params.about.enable | default false) (not (.Site.Params.navbar.menus.disableAbout | default false)) }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Site.Home.RelPermalink }}#about">About</a></li>
                    {{ end }}

                    {{ if and (.Site.Params.publications.enable | default false) (not (.Site.Params.navbar.menus.disablePublications | default false)) }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Site.Home.RelPermalink }}#publications">{{ .Site.Params.publications.title | default "Publications" }}</a></li>
                    {{ end }}

                    {{ if and (.Site.Params.experience.enable | default false) (not (.Site.Params.navbar.menus.disableExperience | default false)) }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Site.Home.RelPermalink }}#experience">Teaching</a></li>
                    {{ end }}

                    {{ if and (.Site.Params.experience_ind.enable | default false) (not (.Site.Params.navbar.menus.disableExperienceInd | default false)) }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Site.Home.RelPermalink }}#experience_ind">Industry</a></li>
                    {{ end }}

                    {{ if and (.Site.Params.education.enable | default false) (not (.Site.Params.navbar.menus.disableEducation | default false)) }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Site.Home.RelPermalink }}#education">Education</a></li>
                    {{ end }}

                    {{ if and (.Site.Params.projects.enable | default false) (not (.Site.Params.navbar.menus.disableProjects | default false)) }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Site.Home.RelPermalink }}#projects">{{ .Site.Params.projects.title | default "Research Code" }}</a></li>
                    {{ end }}

                    {{ if and (.Site.Params.contact.enable | default false) (not (.Site.Params.navbar.menus.disableContact | default false)) }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Site.Home.RelPermalink }}#contact">Contact</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</header>
